body,
div.container {
  background-color: rgb(35, 30, 67) !important;
}
* {
  color: white;
}
img {
  align-self: center;
  width: 50%;
  border-radius: 8px;
  border: 3px solid rgb(203, 9, 129);
}
a {
  color: rgb(84, 207, 255) !important;
}
footer {
  background-color: rgb(21, 15, 54);
  padding: 12px;
}
@media screen and (max-width: 700px) {
  img {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  img {
    width: 100%;
  }
}
